.container-adminpanel {
    max-width: 100%;

    display: flex;
    flex-direction: column;

    .adminpanel-header {
        padding: 40px 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        span {
            &:nth-child(1) {
                font-size: 2rem;
                font-weight: 600;
                font-style: italic;
            }

            &:nth-child(2) {
                padding: 5px 0px;
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }

    .title-moder {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;

        .moder-action-wrapper {
            padding: 25px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            background-color: #eeeeee49;
                box-shadow: 0px 2px 12px 2px #0e0e0e52;
                border-radius: 10px;

            svg {
                padding: 25px 15px;
                font-size: 5rem;
            }

            a {
                width: 200px;
                padding: 15px 20px;
    
                font-size: 1.2rem;
                text-align: center;
                font-weight: 500;
                text-decoration: none;
    
                outline: none;
                color: #0e0e0e;
                border: none;
                background-color: #eeeeee49;
                box-shadow: 0px 2px 12px 2px #0e0e0e52;
                border-radius: 10px;
                transition: all 0.1s ease;
    
                &:hover {
                    transition: all 0.2s ease-in-out;
    
                    cursor: pointer;
                    color: white;
                    background-color: #0e0e0e;
                    box-shadow: none;
                }
            }
        }

    }
}