.container-feedbacks {
    margin: 15px 0px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .feedback-header {
        width: 100%;

        p {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 600;
            font-style: italic;
            padding: 25px 10px 0px;
        }

        span {
            width: 70%;
            display: block;

            padding: 5px 10px;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }

    .wrapper-feedbacks {
        padding: 30px 0px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;

        .feedback-info {
            width: 70%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: rgba(235, 235, 235, 0.5);
            box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 0.3);
            border-radius: 7px;

            .info-order {
                .order-rating {
                    padding: 5px 10px;
                }

                p {
                    margin: 0;
                    font-size: 1.4rem;
                    font-weight: 600;
                    padding: 15px 15px 0px;

                    span {
                        font-weight: 400;
                    }
                }
            }

            .info-user {
                padding: 15px;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .user-name {
                    span {
                        font-size: 1.1rem;
                    }
                }
            }

            .info-feedback {
                padding: 10px 15px;

                span {
                    font-size: 1.1rem;
                    font-weight: 400;
                    word-spacing: 0.05rem;
                }
            }
        }
    }
}