.form-modal {
    width: 100%;

    .main__modal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container-news {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .news-input {
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.5rem;
                    transform: translateY(18px) translateX(240px);
                }
            }

            .container-textarea {
                display: flex;
                flex-direction: column;

                label {
                    padding: 15px 10px 8px;
                    font-size: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: rgba(26, 26, 26, 0.8);
                }

                textarea {
                    resize: none;
                    overflow-x: hidden;
                    width: 280px;
                    height: 150px;

                    padding: 15px 10px;

                    border: none;
                    outline: none;
                    background: #ffffff;

                    border-radius: 10px;
                    border: 1px solid rgba(37, 37, 37, 0.7);
                    box-sizing: border-box;

                    color: rgba(37, 37, 37, 0.7);
                    font-size: 0.9rem;
                    font-weight: 400;

                    &::placeholder {
                        transition: .5s all;
                        font-size: 0.80rem;
                        font-weight: 400;
                        color: rgba(37, 37, 37, 0.8);
                    }

                    &:focus {
                        &::placeholder {
                            transition: .5s all;
                            opacity: 0;
                            transform: translateX(15px);
                        }
                    }
                }
            }

            .uploader__container {
                position: relative;
                overflow: hidden;
                display: inline-block;

                button {
                    width: 200px;

                    margin: 15px 0px 0px;

                    border: none;
                    outline: none;
                    background: #000;
                    box-shadow: 0px 0px 6px 0px #000;
                    border-radius: 7px;
                    transform: translateY(-8px);

                    color: #fff;
                }

                input[type=file] {
                    width: 100%;
                    height: 100%;

                    position: absolute;

                    margin: 15px 0px 0px;
                    padding: 0;
                    opacity: 0;

                    outline: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .container-info.payment {
        }

        .container-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            p {
                text-transform: uppercase;
                font-size: 1.1rem;
                font-weight: 600;
            }

            .info-input {
                position: relative;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.4rem;
                    z-index: 1;
                    transform: translateY(18px) translateX(240px);
                }
            }

            .container-buttons {
                width: 435px;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .closemodal-icon {
                    padding: 15px 35px;
                    margin: 15px 0px 5px;
                    height: 20px;

                    color: white;
                    font-size: 1rem;
                    font-weight: 500;
                    font-style: normal;

                    background-color: #159895;
                    box-shadow: 0px 0px 8px 1px #159895;
                    border-radius: 20px;

                    &:hover {
                        cursor: pointer;
                        background-color: #000;
                        border-radius: 20px;
                        box-shadow: 0px 0px 8px 1px #000;
                    }
                }
            }

            .container-textarea {
                padding: 5px 0px 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                textarea {
                    resize: none;
                    overflow-x: hidden;
                    width: 280px;
                    height: 150px;

                    padding: 15px 10px;

                    border: none;
                    outline: none;
                    background: #ffffff;

                    border-radius: 10px;
                    border: 1px solid rgba(37, 37, 37, 0.7);
                    box-sizing: border-box;

                    color: rgba(37, 37, 37, 0.7);
                    font-size: 0.9rem;
                    font-weight: 400;
                    font-family: 'Ubuntu', sans-serif;

                    &::placeholder {
                        transition: .5s all;
                        font-size: 0.80rem;
                        font-weight: 400;
                        color: rgba(37, 37, 37, 0.8);
                    }

                    &:focus {
                        &::placeholder {
                            transition: .5s all;
                            opacity: 0;
                            transform: translateX(15px);
                        }
                    }
                }
            }

            .uploader__container {
                position: relative;
                overflow: hidden;
                display: inline-block;

                button {
                    width: 200px;

                    margin: 15px 0px 0px;

                    border: none;
                    outline: none;
                    background: #000;
                    box-shadow: 0px 0px 6px 0px #000;
                    border-radius: 7px;
                    transform: translateY(-10px);

                    color: #fff;
                }

                input[type=file] {
                    width: 100%;
                    height: 100%;

                    position: absolute;

                    margin: 15px 0px 0px;
                    padding: 0;
                    opacity: 0;

                    outline: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .order {

            p {
                text-transform: uppercase;
                font-size: 1.1rem;
                font-weight: 600;
            }

            .order-input {
                position: relative;
                z-index: 0;

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 1.5rem;
                    transform: translateY(17px) translateX(230px);
                }
            }

            .container-list {
                width: 280px;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                label {
                    padding: 15px 10px 8px;
                    font-size: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: rgba(26, 26, 26, 0.8);
                }

                .dropdown-list {
                    width: 280px;
                    position: relative;
                    z-index: 1;

                    .list-header {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        padding: 12px 10px;

                        border: none;
                        outline: none;
                        background: #ffffff;

                        border-radius: 7px;
                        border: 1px solid rgba(37, 37, 37, 0.7);
                        box-sizing: border-box;

                        color: rgba(37, 37, 37, 0.7);
                        font-size: 0.9rem;
                        font-weight: 400;

                        svg.open-list {
                            transform: rotate(180deg);
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .list {
                        margin: 5px 0px;
                        position: absolute;
                        width: 100%;
                        background: white;

                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        li {
                            list-style: none;
                            padding: 15px 15px;

                            border: none;
                            outline: none;
                            background: #ffffff;

                            border-radius: 7px;
                            border: 1px solid rgba(37, 37, 37, 0.7);
                            box-sizing: border-box;

                            color: rgba(37, 37, 37, 0.7);
                            font-size: 0.9rem;
                            font-weight: 400;

                            &:hover {
                                cursor: pointer;

                                transition: all 0.2s ease-in-out;

                                cursor: pointer;
                                color: white;
                                background-color: #0e0e0e;
                                box-shadow: none;
                            }
                        }
                    }
                }

                select {
                    width: 300px;
                    padding: 15px 10px;

                    border: none;
                    outline: none;
                    background: #ffffff;
                    border-radius: 15px;

                    color: rgba(26, 26, 26, 0.7);
                    font-size: 0.9rem;
                    font-weight: 600;
                    font-family: 'Commissioner', sans-serif;

                    option {
                        border: none;
                        font-size: 1rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: rgba(26, 26, 26, 0.8);
                        border-radius: 18px;
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}