.container-orders {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .orders-header {
        width: 100%;
        padding: 60px 0px 30px;

        span {
            font-size: 1.4rem;
            font-weight: 600;
            font-style: italic;
        }
    }

    .container-order {
        padding: 15px;
        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        background-color: rgba(235, 235, 235, 0.5);
        box-shadow: 0px 3px 19px -3px rgba(0, 0, 0, 0.3);
        border-radius: 7px;

        .wrapper-order {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 35px;
        }

        .order-info {
            padding: 15px 10px;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;

            .info-title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;

                span {
                    &:nth-child(1) {
                        font-size: 1.1rem;
                        color: rgb(84, 84, 84);
                    }
                    &:nth-child(2) {
                        font-size: .9rem;
                        color: rgb(0, 0, 0);

                        &:hover {
                            cursor: pointer;
                            color: #43a0fe;
                        }
                    }
                }

                svg {
                    font-size: 1.1rem;

                    &:hover {
                        cursor: pointer;
                        color: #43a0fe;
                    }
                }

                a {
                    color: black;
                    font-size: .9rem;
                    font-weight: 400;
                    text-decoration: none;
    
                    &:hover {
                        color: #43a0fe;
                    }
                }
            }

            img {
                width: 90px;
                height: 90px;
            }
        }

        .order-products {
            padding: 0px 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            ul {
                font-size: 1.2rem;

                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    margin: 0px 30px;

                    font-size: 0.9rem;
                    list-style-type: disc;
                }
            }

            .order-payment { 
                font-size: 1.2rem;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;

                span {
                    font-size: 1.2rem;
                }
            }

            .dropdown-list {
                width: 250px;
                position: relative;
                z-index: 1;

                .list-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    padding: 10px 10px;

                    border: none;
                    outline: none;
                    background: #ffffff;

                    border-radius: 7px;
                    border: 1px solid rgba(37, 37, 37, 0.7);
                    box-sizing: border-box;

                    color: rgba(37, 37, 37, 0.7);
                    font-size: 0.9rem;
                    font-weight: 400;

                    svg.open-list {
                        transform: rotate(180deg);
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .list {
                    margin: 5px 0px;
                    position: absolute;
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    li {
                        list-style: none;
                        padding: 15px 15px;

                        border: none;
                        outline: none;
                        background: #ffffff;

                        border-radius: 7px;
                        border: 1px solid rgba(37, 37, 37, 0.7);
                        box-sizing: border-box;

                        color: rgba(37, 37, 37, 0.7);
                        font-size: 0.9rem;
                        font-weight: 400;

                        &:hover {
                            cursor: pointer;

                            transition: all 0.2s ease-in-out;

                            cursor: pointer;
                            color: white;
                            background-color: #0e0e0e;
                            box-shadow: none;
                        }
                    }
                }
            }

        }
        button {
            margin: 0px auto;
        }
    }
}