.container-orders {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .container-order {
        margin: 10px 0px;
        width: 1000px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        box-sizing: border-box;
        background-color: white;
        border-radius: 25px;

        .order-info {
            padding: 15px 10px;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 20px;

            box-sizing: border-box;

            img {
                width: 90px;
                height: 90px;
            }

            p {
                letter-spacing: 0.02rem;

                &:nth-child(2) {
                    font-size: 1.3rem;
                    font-weight: 400;
                }

                &:nth-child(4) {
                    font-size: 1.3rem;
                    font-weight: 400;
                }
            }

            a {
                color: black;
                font-size: 1.3rem;
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    color: #159895;
                }
            }
        }

        .order-products {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 25px;

            background-color: rgb(255, 255, 255);
            border-radius: 25px;

            ul {
                font-size: 1.2rem;

                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    margin: 0px 30px;

                    font-size: 0.9rem;
                    list-style-type: disc;
                }
            }

            .order-option {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                select {
                    width: 200px;
                    margin: 5px 0px;
                    padding: 10px 10px;
                }

                label {
                    font-size: 1.2rem;
                }
            }

            button {
                margin: 0px 15px;
            }
        }
    }
}