.container-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.container-pagination {
    margin: 10px auto;
    display: flex;
    
    width: 80%;
    background-color: rgb(235, 235, 235);


    li {
        margin: 5px 5px;
        padding: 5px 15px;

        text-decoration: none;
        color: #d90429;
        font-size: 1.4rem;
        list-style: none;

        transition: all 0.4s;

        &:hover {
            transition: all 0.6s;
            cursor: pointer; 
            
            color: #fff;
            background-color: #c00524;
        }
    }
}