.container-input {
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    input {
        width: 280px;
        padding: 15px 10px;

        border: none;
        outline: none;
        background: #ffffff;

        border-radius: 7px;
        border: 1px solid rgba(37, 37, 37, 0.7);
        box-sizing: border-box;

        color: rgba(37, 37, 37, 0.7);
        font-size: 0.9rem;
        font-weight: 400;

        &::placeholder {
            transition: .5s all;
            font-size: 0.80rem;
            font-weight: 400;
            color: rgba(37, 37, 37, 0.8);
        }

        &:focus {
            &::placeholder {
                transition: .5s all;
                opacity: 0;
                transform: translateX(15px);
            }
        }
    }
}