.title-logo {
    margin: 40px 0px 0px;
    width: 250px;
    
    a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        color: #000;
        font-size: 1.7rem;
        font-weight: 600;
        text-decoration: none;

        font-family: 'Secular One', sans-serif;

        img {
            padding-right: 10px;
            width: 55px;
            height: 55px;
        }
    }

    span {
        display: block;
        color: #159895;
    }
}